In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
from linearmodels.iv import IV2SLS
from graphviz import Digraph

import zipfile

List of Causal Effects:

Earth quake affects monetary policy https://www.sciencedirect.com/science/article/pii/S0164070418304026

Dynamics of Tokyo Electric Power Company and the Nikkei https://www.jstor.org/stable/26418774

Global Seismic Data: https://www.globalquakemodel.org/product/global-seismic-hazard-map

Global Earthquake Exposure Model (Data for exposure model): https://github.com/gem/global_exposure_model

Global Earthquake Vulnerability Model (Data for vulnerability model): https://github.com/gem/global_vulnerability_model/

Japanese Municipal Bonds (quarterly): https://needs.nikkei.co.jp/services/jsprice/#sample

Japanese Municipal Bonds (daily): https://www.mcnnns77.net/market-data

Mesh code and prefectures: https://www.stat.go.jp/data/mesh/m_itiran.html

Earthquake probability (Seismic Hazard Map): https://www.j-shis.bosai.go.jp/map/JSHIS2/download.html?lang=en (first four columns)

Earthquake probability documentation:
- https://www.j-shis.bosai.go.jp/map/JSHIS2/man/en/man_point_search.html
- https://www.j-shis.bosai.go.jp/map/JSHIS2/man/en/man_map_operation_c.html

How to calculate latitude and longitude from MeshCode (documentation in Japanese):
- https://www.stat.go.jp/data/mesh/pdf/gaiyo1.pdf#page=7

Total number of bond issued from 2002 for each city per year:
- https://www.soumu.go.jp/iken/kessan_jokyo_2.html

In [3]:
## TODO: make changes to the DAG
g = Digraph()
g.edge("interest rate", "City")
g.edge("inflation", "City")
g.edge("credit ratings", "Bond Yield")
g.edge("production cost", "inflation")
g.edge("aggregate demand", "inflation")
g.edge("wage", "aggregate demand")
g.edge("wage", "labor")
g.edge("labor", "aggregate demand")
g.edge("monetary policy", "interest rate")
g.edge("fiscal policy", "interest rate")
g.edge("production cost", "monetary policy")
g.edge("earthquake-risk", "City")
g.edge("earthquake-risk", "Bond Yield")
g.edge("commodity supply", "commodity prices")
g.edge("production cost", "commodity prices")
g.edge("commodity prices", "interest rate")
g.edge("monetary policy", "inflation")
g.edge("fiscal policy", "inflation")
g.edge("City","earthquake")
g.edge("earthquake", "Bond Yield")
g

In [4]:
prefecture_for_bond = ["Fukushima", "Hokkaido", "Osaka", "Kumamoto", "Fukuoka", "Kanagawa", "Hyogo", "Miyagi", "Niigata", "Aichi",
                        "Chiba", "Saitama", "Shizuoka", "Fukui", "Gifu", "Gunma", "Ibaraki", "Mie", "Nagano", "Tochigi", "Tokyo",
                        "Yamanashi", "Kyoto", "Nara", "Shiga", "Hiroshima", "Okayama", "Kagoshima", "Kochi", "Nagasaki", "Oita",
                        "Saga", "Shimane", "Tokushima", "Akita"]
bond_data = {}
for prefecture in prefecture_for_bond:
    bond_data[prefecture] = pd.read_csv("data/"+prefecture+".csv")
    bond_data[prefecture]['Date'] = pd.to_datetime(bond_data[prefecture]['Date'], unit='s')
    bond_data[prefecture]['Date'] = bond_data[prefecture]['Date'].dt.strftime('%Y/%m/%d')
    print(prefecture+":")
    print(bond_data[prefecture].tail())
    print("="*55)

Fukushima:
            Date    3 Year    5 Year    7 Year   10 Year  15 Year  20 Year
3815  2023/10/25  0.002548  0.004560  0.007013  0.009880      NaN      NaN
3816  2023/10/26  0.002723  0.004884  0.007388  0.010172      NaN      NaN
3817  2023/10/27  0.002753  0.004835  0.007336  0.010220      NaN      NaN
3818  2023/10/30  0.002953  0.005017  0.007467  0.010419      NaN      NaN
3819  2023/10/31  0.003406  0.005604  0.007960  0.010863      NaN      NaN
=======================================================
Hokkaido:
            Date    3 Year    5 Year    7 Year   10 Year   15 Year   20 Year
5201  2023/10/25  0.002536  0.004766  0.007089  0.009966  0.013762  0.016393
5202  2023/10/26  0.002722  0.005035  0.007453  0.010316  0.014043  0.016608
5203  2023/10/27  0.002753  0.004991  0.007391  0.010272  0.014058  0.016623
5204  2023/10/30  0.002927  0.005156  0.007529  0.010447  0.014228  0.016774
5205  2023/10/31  0.003342  0.005747  0.008026  0.010925  0.014648  0.017108
=======================================================
Osaka:
            Date    3 Year    5 Year    7 Year   10 Year   15 Year   20 Year
5201  2023/10/25  0.002548  0.004703  0.006964  0.009788  0.013886  0.016538
5202  2023/10/26  0.002714  0.004964  0.007339  0.010119  0.014172  0.016746
5203  2023/10/27  0.002732  0.004926  0.007264  0.010082  0.014199  0.016782
5204  2023/10/30  0.002949  0.005096  0.007407  0.010228  0.014362  0.016939
5205  2023/10/31  0.003399  0.005653  0.007918  0.010737  0.014757  0.017274
=======================================================
Kumamoto:
            Date    3 Year    5 Year    7 Year   10 Year  15 Year  20 Year
3974  2023/10/25  0.002566  0.004595  0.007007  0.009892      NaN      NaN
3975  2023/10/26  0.002720  0.004882  0.007366  0.010181      NaN      NaN
3976  2023/10/27  0.002764  0.004851  0.007256  0.009814      NaN      NaN
3977  2023/10/30  0.002904  0.005013  0.007416  0.009986      NaN      NaN
3978  2023/10/31  0.003293  0.005529  0.007885  0.010473      NaN      NaN
=======================================================
Fukuoka:
            Date    3 Year    5 Year    7 Year   10 Year   15 Year   20 Year
5201  2023/10/25  0.002483  0.004701  0.006980  0.009763  0.014010  0.016775
5202  2023/10/26  0.002674  0.004990  0.007369  0.010113  0.014310  0.017022
5203  2023/10/27  0.002680  0.004922  0.007279  0.010057  0.014318  0.016999
5204  2023/10/30  0.002870  0.005108  0.007453  0.010249  0.014492  0.017165
5205  2023/10/31  0.003295  0.005693  0.007967  0.010771  0.014904  0.017506
=======================================================
Kanagawa:
            Date    3 Year    5 Year    7 Year   10 Year   15 Year   20 Year
5201  2023/10/25  0.002474  0.004670  0.007015  0.009862  0.013868  0.016785
5202  2023/10/26  0.002674  0.004970  0.007397  0.010205  0.014141  0.017016
5203  2023/10/27  0.002705  0.004912  0.007328  0.010171  0.014165  0.017024
5204  2023/10/30  0.002885  0.005091  0.007482  0.010361  0.014320  0.017169
5205  2023/10/31  0.003318  0.005681  0.007992  0.010852  0.014702  0.017508
=======================================================
Hyogo:
            Date    3 Year    5 Year    7 Year   10 Year   15 Year   20 Year
5201  2023/10/25  0.002541  0.004779  0.007070  0.009936  0.013746  0.016543
5202  2023/10/26  0.002756  0.005084  0.007419  0.010251  0.014040  0.016720
5203  2023/10/27  0.002798  0.005015  0.007340  0.010207  0.014044  0.016749
5204  2023/10/30  0.002978  0.005206  0.007508  0.010393  0.014219  0.016895
5205  2023/10/31  0.003399  0.005806  0.008029  0.010914  0.014644  0.017235
=======================================================
Miyagi:
            Date    3 Year    5 Year    7 Year   10 Year  15 Year  20 Year
5201  2023/10/25  0.002510  0.004657  0.006909  0.009557      NaN      NaN
5202  2023/10/26  0.002687  0.004890  0.007288  0.009830      NaN      NaN
5203  2023/10/27  0.002751  0.004827  0.007271  0.009767      NaN      NaN
5204  2023/10/30  0.002893  0.004980  0.007392  0.009925      NaN      NaN
5205  2023/10/31  0.003282  0.005561  0.007885  0.010443      NaN      NaN
=======================================================
Niigata:
            Date    3 Year    5 Year    7 Year   10 Year   15 Year   20 Year
5201  2023/10/25  0.002552  0.004559  0.006965  0.009901  0.013682  0.016726
5202  2023/10/26  0.002733  0.004891  0.007317  0.010234  0.013967  0.016884
5203  2023/10/27  0.002767  0.004828  0.007294  0.010195  0.013970  0.016908
5204  2023/10/30  0.002971  0.005000  0.007447  0.010359  0.014140  0.017057
5205  2023/10/31  0.003411  0.005604  0.007928  0.010854  0.014569  0.017370
=======================================================
Aichi:
            Date    3 Year    5 Year    7 Year   10 Year   15 Year   20 Year
5201  2023/10/25  0.002473  0.004669  0.006907  0.009764  0.013958  0.016716
5202  2023/10/26  0.002652  0.004948  0.007280  0.010115  0.014247  0.016954
5203  2023/10/27  0.002690  0.004895  0.007200  0.010049  0.014269  0.016932
5204  2023/10/30  0.002874  0.005073  0.007358  0.010225  0.014448  0.017098
5205  2023/10/31  0.003297  0.005661  0.007888  0.010742  0.014866  0.017441
=======================================================
Chiba:
            Date    3 Year    5 Year    7 Year   10 Year   15 Year   20 Year
5201  2023/10/25  0.002360  0.004679  0.006934  0.009800  0.013728  0.016717
5202  2023/10/26  0.002551  0.004954  0.007275  0.010110  0.013984  0.016972
5203  2023/10/27  0.002578  0.004901  0.007215  0.010101  0.014009  0.016971
5204  2023/10/30  0.002766  0.005067  0.007358  0.010270  0.014168  0.017132
5205  2023/10/31  0.003196  0.005656  0.007885  0.010766  0.014562  0.017486
=======================================================
Saitama:
            Date    3 Year    5 Year    7 Year   10 Year   15 Year   20 Year
5201  2023/10/25  0.002400  0.004672  0.006960  0.009783  0.013682  0.016586
5202  2023/10/26  0.002608  0.004965  0.007343  0.010124  0.013942  0.016809
5203  2023/10/27  0.002630  0.004890  0.007260  0.010101  0.013974  0.016805
5204  2023/10/30  0.002826  0.005060  0.007418  0.010273  0.014122  0.016971
5205  2023/10/31  0.003256  0.005647  0.007933  0.010779  0.014505  0.017317
=======================================================
Shizuoka:
            Date    3 Year    5 Year    7 Year   10 Year   15 Year   20 Year
5201  2023/10/25  0.002465  0.004673  0.006968  0.009889  0.013948  0.016718
5202  2023/10/26  0.002654  0.004969  0.007344  0.010240  0.014225  0.016950
5203  2023/10/27  0.002691  0.004910  0.007259  0.010204  0.014236  0.016928
5204  2023/10/30  0.002895  0.005091  0.007421  0.010372  0.014403  0.017089
5205  2023/10/31  0.003322  0.005682  0.007931  0.010855  0.014821  0.017427
=======================================================
Fukui:
            Date    3 Year    5 Year    7 Year   10 Year   15 Year   20 Year
5201  2023/10/25  0.002451  0.004623  0.006996  0.009831  0.013672  0.016557
5202  2023/10/26  0.002653  0.004911  0.007343  0.010181  0.013931  0.016744
5203  2023/10/27  0.002636  0.004870  0.007321  0.010133  0.013959  0.016771
5204  2023/10/30  0.002800  0.005027  0.007466  0.010310  0.014112  0.016921
5205  2023/10/31  0.003297  0.005568  0.007931  0.010825  0.014495  0.017259
=======================================================
Gifu:
            Date    3 Year    5 Year    7 Year   10 Year  15 Year  20 Year
5201  2023/10/25  0.002583  0.004578  0.006997  0.009902      NaN      NaN
5202  2023/10/26  0.002758  0.004896  0.007364  0.010190      NaN      NaN
5203  2023/10/27  0.002788  0.004861  0.007303  0.010261      NaN      NaN
5204  2023/10/30  0.002951  0.004999  0.007449  0.010429      NaN      NaN
5205  2023/10/31  0.003323  0.005576  0.007953  0.010769      NaN      NaN
=======================================================
Gunma:
            Date    3 Year    5 Year    7 Year   10 Year   15 Year   20 Year
5201  2023/10/25  0.002530  0.004619  0.006948  0.009916  0.013721  0.016672
5202  2023/10/26  0.002705  0.004917  0.007326  0.010290  0.014000  0.016868
5203  2023/10/27  0.002731  0.004873  0.007261  0.010237  0.014022  0.016881
5204  2023/10/30  0.002909  0.005039  0.007425  0.010411  0.014193  0.017026
5205  2023/10/31  0.003337  0.005613  0.007936  0.010910  0.014591  0.017380
=======================================================
Ibaraki:
            Date    3 Year    5 Year    7 Year   10 Year  15 Year  20 Year
5201  2023/10/25  0.002450  0.004532  0.006936  0.009605      NaN      NaN
5202  2023/10/26  0.002610  0.004814  0.007291  0.009874      NaN      NaN
5203  2023/10/27  0.002662  0.004781  0.007247  0.009866      NaN      NaN
5204  2023/10/30  0.002821  0.004949  0.007395  0.010033      NaN      NaN
5205  2023/10/31  0.003247  0.005539  0.007894  0.010615      NaN      NaN
=======================================================
Mie:
            Date    3 Year    5 Year    7 Year   10 Year  15 Year  20 Year
5201  2023/10/25  0.002606  0.004541  0.006977  0.009865      NaN      NaN
5202  2023/10/26  0.002778  0.004865  0.007350  0.010148      NaN      NaN
5203  2023/10/27  0.002801  0.004827  0.007289  0.010225      NaN      NaN
5204  2023/10/30  0.002998  0.005010  0.007436  0.010404      NaN      NaN
5205  2023/10/31  0.003451  0.005589  0.007920  0.010841      NaN      NaN
=======================================================
Nagano:
            Date    3 Year    5 Year    7 Year   10 Year  15 Year  20 Year
5201  2023/10/25  0.002592  0.004735  0.006886  0.009485      NaN      NaN
5202  2023/10/26  0.002820  0.005026  0.007204  0.009732      NaN      NaN
5203  2023/10/27  0.002804  0.004992  0.007180  0.009661      NaN      NaN
5204  2023/10/30  0.002972  0.005156  0.007341  0.009828      NaN      NaN
5205  2023/10/31  0.003472  0.005679  0.007829  0.010440      NaN      NaN
=======================================================
Tochigi:
            Date    3 Year    5 Year    7 Year   10 Year  15 Year  20 Year
5201  2023/10/25  0.002616  0.004542  0.006976  0.009862      NaN      NaN
5202  2023/10/26  0.002774  0.004885  0.007364  0.010139      NaN      NaN
5203  2023/10/27  0.002799  0.004828  0.007299  0.010219      NaN      NaN
5204  2023/10/30  0.002993  0.004999  0.007444  0.010402      NaN      NaN
5205  2023/10/31  0.003426  0.005589  0.007940  0.010839      NaN      NaN
=======================================================
Tokyo:
            Date    3 Year    5 Year    7 Year   10 Year   15 Year   20 Year
5201  2023/10/25  0.002388  0.004613  0.006823  0.009684  0.014112  0.016750
5202  2023/10/26  0.002585  0.004911  0.007188  0.010027  0.014399  0.016993
5203  2023/10/27  0.002609  0.004849  0.007114  0.009964  0.014411  0.016972
5204  2023/10/30  0.002800  0.005028  0.007271  0.010144  0.014588  0.017137
5205  2023/10/31  0.003231  0.005624  0.007793  0.010666  0.015000  0.017483
=======================================================
Yamanashi:
            Date    3 Year    5 Year    7 Year   10 Year  15 Year  20 Year
5201  2023/10/25  0.002623  0.004604  0.007005  0.009896      NaN      NaN
5202  2023/10/26  0.002811  0.004914  0.007361  0.010195      NaN      NaN
5203  2023/10/27  0.002824  0.004870  0.007308  0.010254      NaN      NaN
5204  2023/10/30  0.002976  0.005012  0.007420  0.009932      NaN      NaN
5205  2023/10/31  0.003314  0.005528  0.007885  0.010437      NaN      NaN
=======================================================
Kyoto:
            Date    3 Year    5 Year    7 Year   10 Year   15 Year   20 Year
5201  2023/10/25  0.002436  0.004689  0.006890  0.009768  0.013893  0.016439
5202  2023/10/26  0.002618  0.004953  0.007268  0.010128  0.014184  0.016650
5203  2023/10/27  0.002654  0.004890  0.007184  0.010077  0.014181  0.016658
5204  2023/10/30  0.002846  0.005080  0.007351  0.010254  0.014357  0.016807
5205  2023/10/31  0.003271  0.005670  0.007881  0.010765  0.014787  0.017141
=======================================================
Nara:
            Date    3 Year    5 Year    7 Year   10 Year   15 Year   20 Year
5201  2023/10/25  0.002295  0.004938  0.006942  0.009592  0.013794  0.016465
5202  2023/10/26  0.002465  0.005244  0.007274  0.009891  0.013983  0.016728
5203  2023/10/27  0.002481  0.005237  0.007259  0.009876  0.013985  0.016818
5204  2023/10/30  0.002666  0.005423  0.007437  0.010041  0.014128  0.017012
5205  2023/10/31  0.003127  0.006000  0.008022  0.010572  0.014514  0.017371
=======================================================
Shiga:
            Date    3 Year    5 Year    7 Year   10 Year  15 Year  20 Year
5201  2023/10/25  0.002616  0.004544  0.006949  0.009856      NaN      NaN
5202  2023/10/26  0.002777  0.004861  0.007333  0.010128      NaN      NaN
5203  2023/10/27  0.002801  0.004807  0.007264  0.010192      NaN      NaN
5204  2023/10/30  0.002994  0.004987  0.007409  0.010378      NaN      NaN
5205  2023/10/31  0.003429  0.005574  0.007912  0.010812      NaN      NaN
=======================================================
Hiroshima:
            Date    3 Year    5 Year    7 Year   10 Year   15 Year   20 Year
5201  2023/10/25  0.002462  0.004641  0.006865  0.009761  0.013703  0.016443
5202  2023/10/26  0.002670  0.004948  0.007239  0.010086  0.013972  0.016680
5203  2023/10/27  0.002699  0.004892  0.007180  0.010063  0.013982  0.016700
5204  2023/10/30  0.002881  0.005078  0.007339  0.010230  0.014140  0.016847
5205  2023/10/31  0.003316  0.005659  0.007845  0.010736  0.014546  0.017178
=======================================================
Okayama:
            Date    3 Year    5 Year    7 Year   10 Year  15 Year  20 Year
5201  2023/10/25  0.002499  0.004598  0.006881  0.009623      NaN      NaN
5202  2023/10/26  0.002699  0.004919  0.007262  0.009911      NaN      NaN
5203  2023/10/27  0.002737  0.004876  0.007201  0.009941      NaN      NaN
5204  2023/10/30  0.002918  0.005050  0.007346  0.010151      NaN      NaN
5205  2023/10/31  0.003360  0.005634  0.007849  0.010689      NaN      NaN
=======================================================
Kagoshima:
            Date  3 Year  5 Year  7 Year  10 Year  15 Year  20 Year
5201  2023/10/25     NaN     NaN     NaN      NaN      NaN      NaN
5202  2023/10/26     NaN     NaN     NaN      NaN      NaN      NaN
5203  2023/10/27     NaN     NaN     NaN      NaN      NaN      NaN
5204  2023/10/30     NaN     NaN     NaN      NaN      NaN      NaN
5205  2023/10/31     NaN     NaN     NaN      NaN      NaN      NaN
=======================================================
Kochi:
            Date    3 Year    5 Year    7 Year   10 Year  15 Year  20 Year
5201  2023/10/25  0.002531  0.004526  0.006977  0.009925      NaN      NaN
5202  2023/10/26  0.002696  0.004842  0.007343  0.010216      NaN      NaN
5203  2023/10/27  0.002719  0.004792  0.007289  0.010286      NaN      NaN
5204  2023/10/30  0.002894  0.004965  0.007420  0.010482      NaN      NaN
5205  2023/10/31  0.003403  0.005569  0.007914  0.010926      NaN      NaN
=======================================================
Nagasaki:
            Date    3 Year    5 Year    7 Year   10 Year  15 Year  20 Year
5201  2023/10/25  0.002527  0.004531  0.006940  0.009614      NaN      NaN
5202  2023/10/26  0.002670  0.004818  0.007298  0.009885      NaN      NaN
5203  2023/10/27  0.002703  0.004784  0.007245  0.009885      NaN      NaN
5204  2023/10/30  0.002877  0.004958  0.007403  0.010059      NaN      NaN
5205  2023/10/31  0.003282  0.005548  0.007905  0.010628      NaN      NaN
=======================================================
Oita:
            Date  3 Year  5 Year  7 Year 10 Year  15 Year  20 Year
5201  2002/08/01  0.261%  0.459%  0.698%  0.988%      NaN      NaN
5202  2002/08/01  0.277%  0.489%  0.734%  1.017%      NaN      NaN
5203  2002/08/01  0.278%  0.484%  0.728%  1.023%      NaN      NaN
5204  2002/08/01  0.295%  0.500%  0.743%  1.039%      NaN      NaN
5205  2002/08/01  0.330%  0.558%  0.788%  1.056%      NaN      NaN
=======================================================
Saga:
            Date    3 Year    5 Year    7 Year   10 Year  15 Year  20 Year
5201  2023/10/25  0.002607  0.004592  0.007042  0.009891      NaN      NaN
5202  2023/10/26  0.002804  0.004915  0.007413  0.010162      NaN      NaN
5203  2023/10/27  0.002809  0.004883  0.007355  0.010244      NaN      NaN
5204  2023/10/30  0.002990  0.005040  0.007488  0.010448      NaN      NaN
5205  2023/10/31  0.003461  0.005630  0.007974  0.010897      NaN      NaN
=======================================================
Shimane:
            Date    3 Year    5 Year    7 Year   10 Year   15 Year   20 Year
5201  1970/01/01  0.002636  0.004654  0.006707  0.009811  0.013663  0.016668
5202  1970/01/01  0.002830  0.004896  0.006983  0.010131  0.013948  0.016923
5203  1970/01/01  0.002831  0.004872  0.006942  0.010070  0.013942  0.016923
5204  1970/01/01  0.002998  0.005046  0.007116  0.010240  0.014107  0.017084
5205  1970/01/01  0.003482  0.005583  0.007656  0.010757  0.014525  0.017419
=======================================================
Tokushima:
            Date    3 Year    5 Year    7 Year   10 Year  15 Year  20 Year
5201  2023/10/25  0.002610  0.004563  0.006966  0.009839      NaN      NaN
5202  2023/10/26  0.002771  0.004881  0.007342  0.010119      NaN      NaN
5203  2023/10/27  0.002793  0.004841  0.007277  0.010184      NaN      NaN
5204  2023/10/30  0.002987  0.005012  0.007422  0.010367      NaN      NaN
5205  2023/10/31  0.003422  0.005604  0.007919  0.010825      NaN      NaN
=======================================================
Akita:
            Date    3 Year    5 Year    7 Year   10 Year  15 Year  20 Year
5201  2023/10/25  0.002482  0.004579  0.006913  0.009693      NaN      NaN
5202  2023/10/26  0.002722  0.004925  0.007273  0.009981      NaN      NaN
5203  2023/10/27  0.002740  0.004879  0.007231  0.010060      NaN      NaN
5204  2023/10/30  0.002948  0.005048  0.007385  0.010243      NaN      NaN
5205  2023/10/31  0.003404  0.005626  0.007887  0.010776      NaN      NaN
=======================================================

In [5]:
# Specify the path to your zip file and the name of the CSV file within the zip file
FILENAME = "P-Y2010-MAP-AVR-TTL_MTTL"
COLUMNS = ['# CODE', ' T30_I45_PS', ' T30_I50_PS', ' T30_I55_PS', ' T30_I60_PS']
zip_file_path = 'data/' + FILENAME + '.zip'
csv_file_name = FILENAME + '.csv'
rows_to_skip = 8

# Open the zip file
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    # Extract the CSV file
    with zip_ref.open(csv_file_name) as file:
        # Read the CSV file into a DataFrame
        seismic_data = pd.read_csv(file, skiprows = rows_to_skip)[COLUMNS]
seismic_data.head()

        # CODE   T30_I45_PS   T30_I50_PS   T30_I55_PS   T30_I60_PS
0  3036500524N     0.000000     0.000000     0.000000     0.000000
1  3036500542N     0.000000     0.000000     0.000000     0.000000
2  3036500623N     0.000000     0.000000     0.000000     0.000000
3  3036500641N     0.000000     0.000000     0.000000     0.000000
4  3622572534N     0.797367     0.454856     0.176731     0.034857

In [6]:
# TODO: check this is correct

# def get_latlon(meshCode):

#     #Convert to string
#     meshCode = str(meshCode)

#     #Calculation for primary mesh
#     code_first_two = meshCode[0:2]
#     code_last_two = meshCode[2:4]
#     code_first_two = int(code_first_two)
#     code_last_two = int(code_last_two)
#     lat  = code_first_two * 2 / 3
#     lon = code_last_two + 100

#     if len(meshCode) > 4:
#         #Calculation for secondary mesh
#         if len(meshCode) >= 6:
#             code_fifth = meshCode[4:5]
#             code_sixth = meshCode[5:6]
#             code_fifth = int(code_fifth)
#             code_sixth = int(code_sixth)
#             lat += code_fifth * 2 / 3 / 8
#             lon += code_sixth / 8

#         #Calculation for 3rd mesh
#         if len(meshCode) >= 8:
#             code_seventh = meshCode[6:7]
#             code_eighth = meshCode[7:8]
#             code_seventh = int(code_seventh)
#             code_eighth = int(code_eighth)
#             lat += code_seventh * 2 / 3 / 8 / 10
#             lon += code_eighth / 8 / 10
            
#         # 1/Calculation for 2 mesh
#         if len(meshCode) >= 9:
#             code_nineth = meshCode[8:9]
#             code_nineth = int(code_nineth)
#             if code_nineth % 2 == 0:
#                 lon += 0.00138888
#             if code_nineth > 2:
#                 lat += 0.00416666
                
#         # 1/Calculation for 4 mesh
#         if len(meshCode) >= 10:
#             code_tenth = meshCode[9:10]
#             code_tenth = int(code_tenth)
#             if code_tenth % 2 == 0:
#                 lon += 0.00138888 / 2
#             if code_tenth > 2:
#                 lat += 0.00416666 / 2
        
#         # 1/Calculation for 8 mesh
#         if len(meshCode) >= 11:
#             code_eleventh = meshCode[10:11]
#             code_eleventh = int(code_eleventh)
#             if code_eleventh % 2 == 0:
#                 lon += 0.00138888 / 2 / 2
#             if code_eleventh > 2:
#                 lat += 0.00416666 / 2 / 2
            
#     return lat, lon
# seismic_data["lat"] = seismic_data[COLUMNS[0]].apply(lambda x: get_latlon(x[:-1])[0])
# seismic_data["lon"] = seismic_data[COLUMNS[0]].apply(lambda x: get_latlon(x[:-1])[1])
# get_latlon(seismic_data[COLUMNS[0]][:-1])[1]
# seismic_data["lon"] = get_latlon(seismic_data[COLUMNS[0]][:-1])[0]
seismic_data.head()

        # CODE   T30_I45_PS   T30_I50_PS   T30_I55_PS   T30_I60_PS
0  3036500524N     0.000000     0.000000     0.000000     0.000000
1  3036500542N     0.000000     0.000000     0.000000     0.000000
2  3036500623N     0.000000     0.000000     0.000000     0.000000
3  3036500641N     0.000000     0.000000     0.000000     0.000000
4  3622572534N     0.797367     0.454856     0.176731     0.034857

In [7]:
MESHCODE = "MeshCode"
prefecture_for_mesh = [
    "Hokkaido",
    "Aomori",
    "Iwate",
    "Miyagi",
    "Akita",
    "Yamagata",
    "Fukushima",
    "Ibaraki",
    "Tochigi",
    "Gunma",
    "Saitama",
    "Chiba",
    "Tokyo",
    "Kanagawa",
    "Niigata",
    "Toyama",
    "Ishikawa",
    "Fukui",
    "Yamanashi",
    "Nagano",
    "Gifu",
    "Shizuoka",
    "Aichi",
    "Mie",
    "Shiga",
    "Kyoto",
    "Osaka",
    "Hyogo",
    "Nara",
    "Wakayama",
    "Tottori",
    "Shimane",
    "Okayama",
    "Hiroshima",
    "Yamaguchi",
    "Tokushima",
    "Kagawa",
    "Ehime",
    "Kochi",
    "Fukuoka",
    "Nagasaki",
    "Kumamoto",
    "Oita",
    "Miyazaki",
    "Kagoshima",
    "Okinawa"
]

unique_mesh_codes = {}
earthquake_risks = {}
total_sum = 0
for prefecture in prefecture_for_mesh:
    unique_mesh_codes[prefecture] = set(pd.read_csv("data/" + prefecture + "Mesh.csv")[MESHCODE].unique())
    seismic_data["in"+prefecture] = seismic_data[COLUMNS[0]].astype(str).str[:8].astype(int).isin(unique_mesh_codes[prefecture]).astype(int)
    earthquake_risks[prefecture] = seismic_data.query(f"in{prefecture} == 1")
    total_sum += len(earthquake_risks[prefecture])

False

In [13]:
print(total_sum)
print(len(seismic_data))

6064706
5955179

In [8]:
fukushima_seismic_data = seismic_data.query("inFukushima == 1")
print(f"size of fukushima seismic data is {len(fukushima_seismic_data)}")
fukushima_seismic_data.head()

size of fukushima seismic data is 220027

,# CODE,T30_I45_PS,T30_I50_PS,T30_I55_PS,T30_I60_PS,inHokkaido,inAomori,inIwate,inMiyagi,inAkita,...,inKagawa,inEhime,inKochi,inFukuoka,inNagasaki,inKumamoto,inOita,inMiyazaki,inKagoshima,inOkinawa
3269610,5539229711N,0.097216,0.01156,0.001758,0.00013,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3269611,5539229712N,0.097216,0.01156,0.001758,0.00013,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3269612,5539229713N,0.097216,0.01156,0.001758,0.00013,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3269613,5539229714N,0.097216,0.01156,0.001758,0.00013,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3269614,5539229721N,0.097216,0.01156,0.001758,0.00013,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
hokkaido_seismic_data = seismic_data.query("inHokkaido == 1")
print(f"size of hokkaido seismic data is {len(hokkaido_seismic_data)}")
hokkaido_seismic_data.head()

size of hokkaido seismic data is 1421552

,# CODE,T30_I45_PS,T30_I50_PS,T30_I55_PS,T30_I60_PS,inHokkaido,inAomori,inIwate,inMiyagi,inAkita,...,inKagawa,inEhime,inKochi,inFukuoka,inNagasaki,inKumamoto,inOita,inMiyazaki,inKagoshima,inOkinawa
4523029,6239062333N,0.084855,0.021721,0.004655,0.000661,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4523030,6239062342N,0.084855,0.021721,0.004655,0.000661,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4523031,6239062344N,0.084855,0.021721,0.004655,0.000661,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4523032,6239062411N,0.084571,0.021468,0.004548,0.000637,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4523033,6239062412N,0.084571,0.021468,0.004548,0.000637,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
kumamoto_seismic_data = seismic_data.query("inKumamoto == 1")
print(f"size of kumamoto seismic data is {len(kumamoto_seismic_data)}")
kumamoto_seismic_data.head()

size of kumamoto seismic data is 114333

,# CODE,T30_I45_PS,T30_I50_PS,T30_I55_PS,T30_I60_PS,inHokkaido,inAomori,inIwate,inMiyagi,inAkita,...,inKagawa,inEhime,inKochi,inFukuoka,inNagasaki,inKumamoto,inOita,inMiyazaki,inKagoshima,inOkinawa
203372,4829177722N,0.224769,0.060069,0.011360,0.001092,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
203373,4829177811N,0.226232,0.060223,0.011411,0.001106,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
203374,4829177813N,0.226232,0.060223,0.011411,0.001106,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
203375,4829270532N,0.218038,0.057871,0.010773,0.001011,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
203378,4829271611N,0.218041,0.057352,0.010641,0.001001,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [11]:
osaka_seismic_data = seismic_data.query("inOsaka == 1")
print(f"size of osaka seismic data is {len(osaka_seismic_data)}")
osaka_seismic_data.head()

size of osaka seismic data is 31548

,# CODE,T30_I45_PS,T30_I50_PS,T30_I55_PS,T30_I60_PS,inHokkaido,inAomori,inIwate,inMiyagi,inAkita,...,inKagawa,inEhime,inKochi,inFukuoka,inNagasaki,inKumamoto,inOita,inMiyazaki,inKagoshima,inOkinawa
1280697,5135302811N,0.708822,0.25107,0.02033,0.000309,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1280698,5135302812N,0.708822,0.25107,0.02033,0.000309,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1280699,5135302813N,0.708822,0.25107,0.02033,0.000309,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1280700,5135302814N,0.708822,0.25107,0.02033,0.000309,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1280701,5135302821N,0.708822,0.25107,0.02033,0.000309,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
aomori_seismic_data = seismic_data.query("inAomori == 1")
print(f"size of osaka seismic data is {len(fukushima_seismic_data)}")
aomori_seismic_data.head()

size of osaka seismic data is 220027

,# CODE,T30_I45_PS,T30_I50_PS,T30_I55_PS,T30_I60_PS,inHokkaido,inAomori,inIwate,inMiyagi,inAkita,...,inKagawa,inEhime,inKochi,inFukuoka,inNagasaki,inKumamoto,inOita,inMiyazaki,inKagoshima,inOkinawa
4264854,6039571521N,0.104896,0.031111,0.004824,0.000237,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4264855,6039571522N,0.104896,0.031111,0.004824,0.000237,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4264856,6039571523N,0.104896,0.031111,0.004824,0.000237,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4264857,6039571524N,0.104896,0.031111,0.004824,0.000237,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4264858,6039571541N,0.104896,0.031111,0.004824,0.000237,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0